<span data-ng-if="allowSelect && isSelected(node)">
  <button type="button" class="sequoia-button sequoia-button-danger" title="Deselect" data-ng-click="deselect(node)" data-ng-bind-html="buttons.deselect"></button>
</span>

<span data-ng-if="allowSelect && !isSelected(node)">
  <button type="button" class="sequoia-button sequoia-button-primary" title="Select" data-ng-click="select(node)" data-ng-bind-html="buttons.select"></button>
</span>

<span data-ng-if="node[tree.template.nodes] && node[tree.template.nodes].length">
  <button type="button" class="sequoia-button sequoia-button-info" title="Go to subitems" data-ng-click="load(node)" data-ng-bind-html="buttons.goToSubitems"></button>
</span>
